body {
    margin: 0px;
    text-align: center;
    padding-top: 800px
}

#profile_image {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    margin-bottom: 50px;
    margin-top: 100px
}

#welcome {
    background: linear-gradient(red 0%, aquamarine 50%, orange 100%);
    height: 800px;
    position: absolute;
    color: darkcyan;
    width: 100%;
    opacity: 0.86;
    top: 0;
    bottom: 0;
    overflow: hidden;
    display: table;
    z-index: 10 px
}

.welcome_div {
    display: table-cell;
    position: relative;
}

h1 {
    color: red;
    font-size: 40px;
    color: darkgoldenrod;
    font-family: cursive
}

#name {
    font-size: 21px;
    font-family: 'Zen Dots', cursive;
    color: darkmagenta
}

h2 {
    font-size: 40px;
    font-family: monospace
}

#bio {
    padding: 50px
}

.line {
    width: 80px;
    height: 10px;
    margin: 8px auto;
    background-color: indianred
}

p {
    font-size: 18px;
    line-height: 1.2;
    max-width: 450px;
    margin: 20px auto
}

.menu {
    position: absolute;
    top: 10px;
    right: 30px;
    list-style: none;
    cursor: all-scroll;
    z-index: 15
}

.links {
    float: left;
    font-size: 20px;
    font-family: 'RocknRoll One', sans-serif;
    padding: 5px 20px
}

.links:hover {
    background-color: orange
}
html{scroll-behavior: smooth}
.ss{text-decoration: underline;}
.ss:hover{font-size:20px;color:red}